* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0; }
  header .container_logoNintendo {
    background-color: #fe0016; }
    header .container_logoNintendo #logoNintendo {
      width: 10%; }
  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px; }
    header nav .container-fluid {
      background-color: black; }
      header nav .container-fluid .mariohead {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        height: 70px; }
        header nav .container-fluid .mariohead:hover {
          transform: scale(1.2); }
      header nav .container-fluid .boton_menu {
        border-radius: 15px;
        border-color: white;
        padding: 10px;
        background-color: black;
        font-size: large;
        font-weight: bold;
        color: white; }
        header nav .container-fluid .boton_menu:hover {
          background-color: #fe0016; }

.clearfix {
  clear: both; }

body {
  background-color: yellow;
  /*falta agregar imagen fondo*/
  padding: 90px 20px 0; }
  body .container .container1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100% 100%;
    align-items: center; }
  body .mario_index {
    height: 100%; }
  body h1 {
    font-family: sans-serif;
    font-size: 2.5rem;
    font-weight: bold; }
  body .nombrePrincipal {
    font-family: fantasy;
    font-size: 7rem; }
  body .btn_conoce_mario {
    border-radius: 20px;
    border-color: lightgray;
    padding: 10px;
    background-color: white;
    font-size: large;
    font-weight: bold;
    color: black;
    font-display: none; }

footer {
  background-color: #fe0016;
  width: 100%;
  color: white;
  align-items: center; }
  footer .figure-caption {
    color: white;
    font-size: larger;
    align-items: center;
    padding: 0%; }
  footer .figure {
    width: 80px;
    padding: 5px;
    border-color: white; }
  footer h6 {
    font-size: small; }
  footer .p_tiny {
    font-size: xx-small; }

.container_historia {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100% 100%;
  align-items: center; }

.creacion_box {
  background-color: white;
  max-width: 70%;
  text-align: center;
  border-radius: 5%;
  padding: 5%; }
  .creacion_box .Creacion_titulo {
    font-family: fantasy;
    font-size: 300%; }
  .creacion_box .creador_img {
    width: 100%; }

.container_historiaVideo .titulo_historiaVideo {
  font-family: fantasy;
  font-size: 300%; }

.container_historiaVideo .historiaVideo {
  width: 80%; }

.container_historiaCarrusel {
  max-width: 960px;
  width: 100%;
  margin: 20px auto;
  padding: 5px; }

.containerMario1985 {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .containerMario1985 .info_marioATA {
    width: 40%;
    height: 315px;
    float: left; }
  .containerMario1985 .videoMarioATA {
    width: 60%;
    height: 315px;
    float: right; }

.articulo2_marioata {
  background-color: white;
  max-width: 90%;
  text-align: justify;
  border-radius: 5%;
  padding: 5%; }

.button_marioATA {
  border-radius: 20px;
  border-color: lightgray;
  padding: 10px;
  background-color: white;
  font-size: large;
  font-weight: bold;
  color: black; }

.btn_mantenimiento {
  border-radius: 20px;
  border-color: lightgray;
  padding: 10px;
  background-color: white;
  font-size: large;
  font-weight: bold;
  color: black;
  font-display: none; }

.personajes_carrusel {
  max-width: 90%;
  margin: 10px auto;
  padding: 5px; }

.container_carrusel_personaje {
  display: flex;
  justify-content: center;
  align-items: center; }
  .container_carrusel_personaje .container_img-personaje {
    float: left;
    max-width: 50%;
    padding: 2%; }
  .container_carrusel_personaje .texto_personaje {
    float: right;
    max-width: 50%; }

.video_pelicula {
  width: 50%; }

.resumen_pelicula {
  background-color: white;
  max-width: 90%;
  text-align: justify;
  border-radius: 5%;
  padding: 5%; }

.container-noticias .container-noticia {
  width: 50%;
  height: 100%; }
