body{
    background-image: url(./img/fondo_1_amarillo.gif)
}

header{
    background-image: url(./img/fondo_logo.jpg);
}

#logo{
    width: 10%;
}

nav{
    background-image: url(./img/fondo_2_negro_gris.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-menu{
    display: flex;
    align-items: center;
}

.boton_menu{
    border-radius: 15px;
    padding: 10px;
    background-color: black;
    font-size: large;
    font-weight: bold;
    color: white;
    border-color: white;
}

.boton_menu:hover{
    background-color: red;
}

.clearfix{
    clear: both;
}

.container.container_1{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100% 100%;
    align-items: center;
}

/*.frase_1{
    color: white;
    font-weight: bold;
    font-size: xx-large;
    padding: 0%;
    margin: 0%;
    text-align: justify;
}

.frase_2{
    color: white;
    font-size: 10rem;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    text-align: justify;
}*/

h1{
    padding: 5%;
    font-family: fantasy;
}


.btn_conoce_mario{
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    border-color: lightgray;
    font-size: large;
    font-display: none;
}

#mario_inicial_img{
    float: left;
    width: 100%;
}

p{
    text-align: justify;
    padding: 3%;
    font-size: x-large;
}

.creacion_box{
    background-color: white;
    text-align: center;
    max-width: 70%;
    border-radius: 5%;
    padding: 5%;
}

h2{
    font-size: 300%;
    font-family: fantasy;
    padding-left:10%;
    text-align: center;
}

#creacion_img{
    width: 100%;
}

#mario_ata nav li{
    list-style: none;
    float: left;
    padding: 3%;
}

.mariobros1{
    background-image: url(./img/fondo_atravesdeltiempo.jpg);
    width: 70%;
}

#mariobros1_img{
    padding: 5%;
    /*falta centrar*/
    width: 20%;
}

.articulo1{
    font-size: large;
    font-family: fantasy;
    padding: 5%;
}

#video1{
    align-content: end;
    padding-bottom: 5%;
}

.articulo2_marioata{
    width: 70%;
    font-size: large;
    font-family: monospace;
}

.resumen{
    font-size: large;
    width: 70%;
}

.soundtrack{
    width: 50%;
}

.noticias{
    background-color: lightgray;
    border-radius: 1%;
    width: 40%;
}

.noticias_img{
    width: 90%;
}

.articulo1_noticias{
    width: 90%;
    font-size: medium;
}

#articulo_mariokart8{
    background-image: url(.img/fondo_atravesdeltiempo.jpg);
}
footer{
    background-image: url(./img/fondo_logo.jpg);
    color: white;
    font-size: larger;
    text-align: center;
}

.figure-caption{
    font-size: 100%;
    padding:0%;
    text-align: center;
    color: white;
}
.figure.facebook{
    width: 10%;
    padding: 5px;
    border-color: white;
}

.figure.instagram{
    width: 10%;
    padding: 5px;
    border-color: white;
}

.figure.youtube{
    width: 10%;
    padding: 5px;
}

.txt-small, .txt-tiny{
    font-size: x-small;
    padding: 0%;
    text-align: center;
}