.btn_mantenimiento{
    @include btn(20px, lightgray, 10px, white, large, bold, black);
    margin-left: 30px;    
    font-display: none;
        &:hover{
            transform: scale(1.2);
        }
}