.containerMario1985{
    margin: 0 -5px;
    &:after{
        content: "";
        display: table;
        clear: both;
    }
    .column_marioATA{
    float: left;
    width: 50%;
    padding:0 20px;
    margin-bottom: 10px;
    @media screen and (max-width:600px){
            width: 100%;
            display: block;
            margin-bottom: 20px; 
        }
    }
}

.articulo2_marioata{
    @include article ($backgroud-color-creacionbox, 90%, justify, 5%,5%);
}

.button_marioATA{
    @include btn(20px, lightgray, 10px, white, large, bold, black);
    &:hover{
        transform: scale(1.2);
    }
}