$width-logo: 10%;

$backgroud-color-header: #fe0016;
$backgroud-color-body: yellow;
$backgroud-color-nav: black;
$backgroud-color-creacionbox: white;

$font-principal: 2.5rem;
$font-secundary: 1.5rem;
$font-title: 7rem;
$font-button: large;

$font-family-principal: sans-serif;
$font-family-mario: fantasy;
$font-color: white;

$gap: 12px;
